label {
	user-select: none;
}

ul {
	list-style-type: none;
}

div#display-main-wrapper {
	 border: 1px solid grey;
	 width: 96%;
	 height: 85vh;
	 margin: auto;
	 background-color: #fff;
	 overflow-y: auto;
     overflow-x: hidden;
}

div#left-menu-container {
	 height: 100%;
	 border: 1px solid darkgrey;
	 margin: 0 10px;
	 background-color: white;
	 overflow-y: auto;
     overflow-x: hidden;
}

div.display-button {
	margin: 10px auto;
	width: 142px;
	height: 150px;
	background-color: lightgray;
	border-radius: 5px;
	border-style: groove;
	cursor: pointer;
	position: relative;
}

div.display-button:active {
	border-style: inset;
	padding: 3px;
}

/* TO DO */
/* div.display-button:before {
	content: "X";
	display: block;
	position: absolute;
	width: 25px;
	height: 20px;
	border-radius: 5px;
	background-color: white;
	color: grey;
} */

#sections-list {
	 display: none;
	 position: absolute;
	 border: 2px solid grey;
	 width: 50%;
	 height: 265px;
	 z-index: 1;
	 bottom: 25px;
	 left: 300px;
	 background: rgba(255, 255, 255, 0.7);
}

h1.display-button-title {
	line-height: 1.8em;
	word-wrap: break-word;
	user-select: none;
}

div#left-menu {
	background-color:#e3e3e3;
	height:100vh;
	width:20%;
	padding:10px 0;
}

h1#left-menu-title {
	user-select: none;
	text-align: center;
}

a {
	user-select: none;
	cursor: pointer;
}

button {
	margin-left: 55%;
}

nav.navbar-static-top {
	position: relative;
}

div#receipt-popup {
	background-color: #e3e3e3;
	display: none;
  	border: 2px solid rgba(0,0,0,0.6);
}

div#wrapper {
	width: 80%;
	margin-right: 0;
	padding: 0;
}

button#chooseSections {
	display: none;
}