<!-- LISTA KATEGORIJA -->

<div class="col-lg-2 text-center menu pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('1');" title="Pivo"><h1 class="display-button-title">Pivo</h1></div>	
</div>
<div class="col-lg-2 text-center menu pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('2');" title="Zestina"><h1 class="display-button-title">Zestina</h1></div>
</div>
<div class="col-lg-2 text-center menu pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('3');" title="Bezalkoholna"><h1 class="display-button-title">Bezalkoholna</h1></div>
</div>
<div class="col-lg-2 text-center menu pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('4');" title="Kokteli"><h1 class="display-button-title">Kokteli</h1></div>
</div>
<div class="col-lg-2 text-center menu pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('5');" title="Voce"><h1 class="display-button-title">Voce</h1></div>
</div>
<div class="col-lg-2 text-center menu pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('6');" title="Grickalice"><h1 class="display-button-title">Grickalice</h1></div>
</div>

<!-- FORMA ZA NOVU KATEGORIJU -->

<div id="menu">
	<form method="POST" action="http://ugostiljko.local/api/categories">
		<div class="form-group" id="menu-category-form">
			<label for="menu-category">Nova kategorija</label>
			<input name="name" type="text" class="form-control" id="menu-category" placeholder="Add new category...">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<!-- FORMA ZA IZMENU KATEGORIJE -->

<div id="menu-edit">
	<form method="POST" action="http://ugostiljko.local/api/categories/7">
		<div class="form-group" id="menu-category-edit-form">
			<label for="menu-category-edit">Izmeni kategoriju</label>
			<input type="hidden" name="_method" value="PUT" />
			<input name="name"	type="text" class="form-control" id="menu-category-edit" placeholder="Izmeni kategoriju...">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<!-- FORMA ZA NOVI PREDMET -->

<div id="menu-1">
	<hr>
	<form>
		<div class="form-group" id="menu-category-item-form">
			<label for="menu-category-item">Novi predmet</label>
			<input 	type="text" class="form-control" id="menu-category-item" placeholder="Add new item..." onfocus="addNewItem('menu-category-item-form');">
		</div>
		<button class="btn btn-default">Submit</button>
	</form>	
</div>

<!-- LISTA PREDMETA U KATEGORIJI -->

<div class="col-lg-2 text-center menu-1 pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" title="Pivo 0.5"><h1 class="display-button-title" onclick="addToReceipt('Pivo 0.5');">LAV 0.5</h1></div>	
</div>
<div class="col-lg-2 text-center menu-1 pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" title="Pivo 0.33"><h1 class="display-button-title" onclick="addToReceipt('Pivo 0.33');">LAV 0.33</h1></div>
</div>