<!-- LISTA PICA -->

<div class="col-lg-2 text-center pica pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="addToReceipt('Vinjak 0.05');" title="Vinjak 0.05"><h1 class="display-button-title">Vinjak 0.05</h1></div>	
</div>
<div class="col-lg-2 text-center pica pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="addToReceipt('Pivo 0.5');" title="Pivo 0.5"><h1 class="display-button-title">Pivo 0.5</h1></div>
</div>
<div class="col-lg-2 text-center pica pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="addToReceipt('Vino 0.2');" title="Vino 0.2"><h1 class="display-button-title">Vino 0.2</h1></div>
</div>
<div class="col-lg-2 text-center pica pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="addToReceipt('Loza 0.03');" title="Loza 0.03"><h1 class="display-button-title">Loza 0.03</h1></div>
</div>
<div class="col-lg-2 text-center pica pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button"  onclick="addToReceipt('Kafa Produzena Sa Mlekom');" title="Kafa Produzena Sa Mlekom"><h1 class="display-button-title">Kafa Produzena Sa Mlekom</h1></div>
</div>
<div class="col-lg-2 text-center pica pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="addToReceipt('Kafa Produzena Bez Mleka');" title="Kafa Produzena Bez Mleka"><h1 class="display-button-title">Kafa Produzena Bez Mleka</h1></div>
</div>

<!-- FORMA ZA NOVO PICE -->

<div id="pica">
	<form method="POST" action="http://ugostiljko.local/api/items">
		<div class="form-group" id="pica-item-form">
			<label for="pica-item">Novo pice</label>
			<input name="name" type="text" class="form-control" id="pica-item" placeholder="Add a name...">
			<input name="total_qty" type="text" class="form-control" id="pica-item" placeholder="Add quantity..." onfocus="addNewInput('pica-item-form');">
			<input name="purchase_price" type="text" class="form-control" id="pica-item" placeholder="Add purchase price...">
			<input name="selling_price[]" type="text" class="form-control" id="pica-item" placeholder="Add selling price...">
			<input name="units[]" type="text" class="form-control" id="pica-item" placeholder="Add units...">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<!-- FORMA ZA IZMENU PICA -->

<div id="pica-edit">
	<form method="POST" action="http://ugostiljko.local/api/items/15">
		<div class="form-group" id="pica-item-edit-form">
			<label for="pica-item-edit">Izmeni pice</label>
			<input type="hidden" name="_method" value="PATCH">
			<input name="name" value="0" type="text" class="form-control" id="pica-item-edit" placeholder="Izmeni naziv...">
			<input name="total_qty" value="0" type="text" class="form-control" id="pica-item-edit" placeholder="Izmeni kolicinu">
			<input name="purchase_price" value="0" type="text" class="form-control" id="pica-item-edit" placeholder="Izmeni nabavnu cenu...">
			<input name="selling_price[]" value="0" type="text" class="form-control" id="pica-item-edit" placeholder="Izmeni prodajnu cenu...">
			<input name="units[]" value="0" type="text" class="form-control" id="pica-item-edit" placeholder="Izmeni mernu jedinicu...">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>