<!-- LISTA RACUNA -->

<div class="col-lg-2 text-center racuni pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('1');" title="Racun Sto 1"><h1 class="display-button-title">Racun Sto 1</h1></div>	
</div>
<div class="col-lg-2 text-center racuni pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('2');" title="Racun Sto 2"><h1 class="display-button-title">Racun Sto 2</h1></div>
</div>
<div class="col-lg-2 text-center racuni pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('3');" title="Racun Nedodeljen 1"><h1 class="display-button-title">Racun Nedodeljen 1</h1></div>
</div>
<div class="col-lg-2 text-center racuni pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('4');" title="Racun Nedodeljen 2"><h1 class="display-button-title">Racun Nedodeljen 2</h1></div>
</div>
<div class="col-lg-2 text-center racuni pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('5');" title="Racun Separe 1"><h1 class="display-button-title">Racun Separe 1</h1></div>
</div>
<div class="col-lg-2 text-center racuni pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('6');" title="Racun Separe 2"><h1 class="display-button-title">Racun Separe 2</h1></div>
</div>

<!-- FORMA ZA NOVI RACUN -->

<div id="racuni">
	<form method="POST" action="http://ugostiljko.local/api/receipts">
		<div class="form-group" id="racuni-category-form">
			<label for="racuni-category">Novi racun</label>
			<input name="total_price"	type="text" class="form-control" id="racuni-category" placeholder="Add new total...">
			<label for="status">Aktivan</label>
			<input name="status" type="radio" value="1" class="form-control">
			<label for="status">Neaktivan</label>
			<input name="status" type="radio" value="0" class="form-control" checked>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<div id="racuni-edit">
	<form method="POST" action="http://ugostiljko.local/api/receipts/4">
		<div class="form-group" id="racuni-category-edit-form">
			<label for="racuni-category-edit">Izmeni racun</label>
			<input type="hidden" name="_method" value="PATCH" />
			<input name="total_price"	type="text" class="form-control" id="racuni-category-edit" placeholder="Izmeni total...">
			<label for="status">Aktivan</label>
			<input name="status" type="radio" value="1" class="form-control">
			<label for="status">Neaktivan</label>
			<input name="status" type="radio" value="0" class="form-control">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>


<!-- LISTA PICA NA RACUNU -->

<div class="col-lg-2 text-center racuni-1 pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="addToReceipt('Vinjak 0.05');" title="Vinjak 0.05"><h1 class="display-button-title">Vinjak 0.05</h1></div>	
</div>
<div class="col-lg-2 text-center racuni-1 pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="addToReceipt('Pivo 0.5');" title="Pivo 0.5"><h1 class="display-button-title">Pivo 0.5</h1></div>
</div>