<!-- LISTA STOLOVA -->

<div class="col-lg-2 text-center stolovi pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('1');" title="Sto 1"><h1 class="display-button-title">Sto 1</h1></div>	
</div>
<div class="col-lg-2 text-center stolovi pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('2');" title="Sto 2"><h1 class="display-button-title">Sto 2</h1></div>
</div>
<div class="col-lg-2 text-center stolovi pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('3');" title="Sank 1"><h1 class="display-button-title">Sank 1</h1></div>
</div>
<div class="col-lg-2 text-center stolovi pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('4');" title="Sank 2"><h1 class="display-button-title">Sank 2</h1></div>
</div>
<div class="col-lg-2 text-center stolovi pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('5');" title="Separe 1"><h1 class="display-button-title">Separe 1</h1></div>
</div>
<div class="col-lg-2 text-center stolovi pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getCategory('6');" title="Separe 2"><h1 class="display-button-title">Separe 2</h1></div>
</div>

<!-- FORMA ZA NOVI STO -->

<div id="stolovi">
	<form method="POST" action="http://ugostiljko.local/api/sections">
		<div class="form-group" id="stolovi-category-form">
			<label for="stolovi-category">Novi sto</label>
			<input name="name"	type="text" class="form-control" id="stolovi-category" placeholder="Add new table...">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<!-- FORMA ZA NOVI RACUN -->

<div id="racuni">
	<form method="POST" action="http://ugostiljko.local/api/receipts">
		<div class="form-group" id="racuni-category-form">
			<label for="racuni-category">Novi racun</label>
			<input name="total_price"	type="text" class="form-control" id="racuni-category" placeholder="Add new total...">
			<label for="status">Aktivan</label>
			<input name="status" type="radio" value="1" class="form-control">
			<label for="status">Neaktivan</label>
			<input name="status" type="radio" value="0" class="form-control" checked>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<!-- FORMA ZA IZMENU STOLOVA -->

<div id="stolovi-edit">
	<form method="POST" action="http://ugostiljko.local/api/sections/6">
		<div class="form-group" id="stolovi-category-edit-form">
			<label for="stolovi-category-edit">Izmeni	 sto</label>
			<input name="name" type="text" class="form-control" id="stolovi-category-edit" placeholder="Izmeni sto...">
			<input name="_method" type="hidden" value="PATCH">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<!-- UBACI U RACUNE -->

<div class="col-lg-2 text-center stolovi-lista pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="pickASection('1');" title="Sto 1"><h2 class="display-button-title">Sto 1</h2></div>	
</div>
<div class="col-lg-2 text-center stolovi-lista pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="pickASection('2');" title="Sto 2"><h2 class="display-button-title">Sto 2</h2></div>
</div>
<div class="col-lg-2 text-center stolovi-lista pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="pickASection('3');" title="Sank 1"><h2 class="display-button-title">Sank 1</h2></div>
</div>
<div class="col-lg-2 text-center stolovi-lista pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="pickASection('4');" title="Sank 2"><h2 class="display-button-title">Sank 2</h2></div>
</div>
<div class="col-lg-2 text-center stolovi-lista pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="pickASection('5');" title="Separe 1"><h2 class="display-button-title">Separe 1</h2></div>
</div>
<div class="col-lg-2 text-center stolovi-lista pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="pickASection('6');" title="Separe 2"><h2 class="display-button-title">Separe 2</h2></div>
</div>

<!-- RACUNI ZA STOLOVE -->

<div class="col-lg-2 text-center stolovi-1 pull-left" style="overflow: hidden;padding: 0 10px;">
	<div class="display-button" onclick="getReceipt('1');" title="Racun Sto 1"><h1 class="display-button-title">Racun Sto 1</h1></div>	
</div>